spring:
  application:
    name: lab2-inf-sys-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/studs
    username: s368530
    password: P7Woe7Cwyk2MjZnN
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  thymeleaf:
    check-template-location: false

  sql:
    init:
      mode: always
      encoding: UTF-8

  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8080

app:
  websocket:
    allowed-origins: "*"

logging:
  level:
    org.springframework.security: INFO
    org.hibernate.SQL: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: INFO
